<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthcare Information Assistant</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="javascript/app.js" defer></script>

    <!-- Include a popular icon library (Font Awesome) for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-MFYl9e3Nn0TNn9B/3C2K0XrkL2LiZ/8OmFyEi5cC9W4NQvN3zPvj2vvL1eZFUxwo8wXqwC2En8V1jtHdRekDQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>